html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  background: #000000;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Oxygen;
}

.container {
  background: #000000;
  color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 5px;
}
